body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F5F7FA;
  font-family: 'Arial', sans-serif;
}

main {
  padding: 10px;
  text-align: center;
}

p {
  color: #A9B4BF;
  font-family: 'Arial', sans-serif;
}

.logo img {
  width: 18rem;
  height: auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 7rem);
  background-color: #0D1822;
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #071018;
  color: #F5F7FA;
  height: 3rem;
  text-align: center;
  padding: 0 1rem;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul a {
  color: #F5F7FA;
  text-decoration: none;
}


nav ul a:hover {
  display: inline-block;
  color: #fff;
  transform: scale(1.1);
}

footer {
  background-color: #071018;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 4rem;
}


aside {
  background-color: #142330
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #A9B4BF;
}

aside ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

aside ul li:hover {
  color: #fff;
  background-color: #292929;
}

aside ul li.selected {
  color: #ffffff;
  background-color: #525252;
}

form {
  background-color: #1A2B3C;
  border-radius: 8px;
  color: #F5F7FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 20rem;
  padding: 2rem;
}

form .submit-btn {
  margin-top: 1rem;
  background-color: #0d3661;
  border: 1px solid #031a33;
  border-radius: 4px;
}

form .tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}

form .tag-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

form .tag-container li {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2A3B4C;
}

form .tag-container li.selected {
  background-color: #705304;
  color: #fff;
}


textarea,
input,
select {
  background-color: #1A2B3C;
  border: 1px solid #525252;
  border-radius: 4px;
  color: #F5F7FA;
  padding: 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.admin-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.film-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

}


.film-card {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #705304;
}

.category-teg-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.category-teg {
  background-color: #926d07;
  border-radius: 1rem;
  padding: 0 0.5rem;

}