body {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul a{
  color: #c5c5c5;
  text-decoration: none;
}


nav ul a:hover {
    display: inline-block;
  color: #fff;
 transform: scale(1.1);
}

footer {
  background-color: #292929;
  text-align: center;
  padding: 10px;
  color: #fff;
}


aside {
  background-color: #949494;
  padding: 10px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


