body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 7rem);
}

.main {
  padding: 10px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  height: 3rem;
  text-align: center;
  padding: 0 1rem;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul a {
  color: #c5c5c5;
  text-decoration: none;
}


nav ul a:hover {
  display: inline-block;
  color: #fff;
  transform: scale(1.1);
}

footer {
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 4rem;
}


aside {
  background-color: #949494;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

aside ul li:hover {
  color: #fff;
  background-color: #292929;
}

aside ul li.selected {
  color: #ffffff;
  background-color: #525252;
}